<h2 id="title">Welcome to ember-d3-components</h2>

{{#link-to 'axis'}}Axis{{/link-to}}
{{#link-to 'grid'}}Grid{{/link-to}}
{{#link-to 'text'}}Text{{/link-to}}
{{#link-to 'line'}}Line{{/link-to}}
{{#link-to 'circle'}}Circle{{/link-to}}
{{#link-to 'bar'}}Bar{{/link-to}}
{{#link-to 'arc'}}Arc{{/link-to}}
{{#link-to 'area'}}Area{{/link-to}}
<br/>
<br/>
{{outlet}}
