<ul class="side-nav">
  <li>{{#link-to 'x-y-plot'}}XY Plot{{/link-to}}</li>
  <li>{{#link-to 'bar-plot'}}Bar Plot{{/link-to}}</li>
  <li>{{#link-to 'composite-plot'}}Composite Plot{{/link-to}}</li>
</ul>

<div class="ember-d3">
{{outlet}}
</div>
